<div class="container">
    <div class="post">
        <!-- <h1>{{post.title}}</h1> -->
        <p class="meta">Posted in <a href="/categories/show/{{post.category}}">{{post.category}}</a> by {{post.author}}
            on
            {{formatDate post.createdAt}}</p>
        <img src="/uploads/{{post.image}}" />
        {{{post.body}}}
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>

    {{#if post.comments}}
    <h3>Comment:</h3>
    {{#each post.comments}}
    <div class="comment">
        <p class="comment-name">{{name}}</p>
        <p class="comment-body">{{body}}</p>
    </div>
    {{>error}}

    {{/each}}
    {{/if}}

    <h2> Add Comment </h2>
    <form method="post" action="/posts/addcomment">
        <input name="id" type="hidden" value="{{post._id}}" />
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" name="name" type="text" value="{{comment.name}}" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" name="email" type="text" value="{{comment.email}}" />
        </div>
        <div class=" form-group">
            <label>Body</label>
            <textarea class="form-control" name="body" id="body">{{comment.body}}</textarea>
        </div>
        <br> <input class="btn btn-default btn-primary" type="submit" value="Add Comment" />
    </form>


</div>